body {
	background-color: #8DEEE0;
}

#h1_title {
	text-align: center;
}


img {
	height: 400px;
	border-radius: 8px;
	top: 200px;
}

a {
	text-decoration: none;
}

.main {
	position: absolute;
	left: 500px;
}

.info {
	position: absolute;
	left: 500px;
	top: 500px;
}

#searchBar {
	width: 500px;
	left: 0px;
	top: 0px;
  	box-sizing: border-box;
  	border: 2px solid #ccc;
  	border-radius: 4px;
  	font-size: 16px;
  	background-color: white;
  	background-image: url('search.png');
  	background-position: 10px 10px; 
  	background-repeat: no-repeat;
  	padding: 12px 20px 12px 40px;
}

#searchButton {
	position: absolute;
	top: 65px;
	left: 0px;
	width: 250px;
	height: 30px;
	background-color: white;
	font-size: 18px;
}

#random {
	position: absolute;
	left: 250px;
	top: 65px;
	width: 250px;
	height: 30px;
	background-color: white;
	font-size: 18px;
}