<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type = "text/css" href = "{{ url_for('static', filename='stylesheets/styles.css') }}">
	<title>
		Giphy Clone
	</title>
</head>
<body>
	<div class="header">
		<h1 id = "h1_title">
			Welcome to Giphy Clone
		</h1>
	</div>
	<div class="main">
		<img src="/static/library/{{ gif }}" alt = "GIF not found" >
	</div>
	<div class="tag_list">
		<p>
			<b>
				Tags associated with this GIF:
			</b>
		</p>
		{% for tag in tagList %}
		<p id="tag_list_p">
			{{ tag }}
		</p>
		{% endfor %}
		<p>
			<br><br>This is {{ filename }}
		</p>
	</div>
	<div class="info">
		<p>
			<form method="GET">
				<input type="text" name="entry" id="searchBar">
				<input type="submit" name="search" value="Search" id="searchButton">
			</form>
			<a href="{{ url_for('home') }}">
				<input type="submit" name="random" value="Choose Random GIF" id="random">
			</a>
		</p>
	</div>
	<div class="new_tag">
		<form method="GET">
			<input type="text" name="tagEntry">
			<select name="gifTag">
				<option>1.gif</option>
				<option>2.gif</option>
				<option>3.gif</option>
				<option>4.gif</option>
				<option>5.gif</option>
				<option>6.gif</option>
				<option>7.gif</option>
				<option>8.gif</option>
				<option>9.gif</option>
				<option>10.gif</option>
			</select>
			<input type="submit" name="Add tag" value="Add tag">
		</form>
	</div>
</body>
</html>