<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type = "text/css" href = "{{ url_for('static', filename='stylesheets/styles.css') }}">
	<title>
		Giphy Clone
	</title>
</head>
<body>
	<div class="header">
		<h1 id = "h1_title">
			Welcome to Giphy Clone
		</h1>
	</div>
	<div class="main">
		<img src="/static/library/{{ gif.filename }}" alt = "GIF not found" >
	</div>
	<p>
		{{ tagList }}
	</p>
	<div class="info">
		<p>
			<form method="GET">
				<input type="text" name="entry" id="searchBar">
				<input type="submit" name="search" value="Search" id="searchButton">
			</form>
			<a href="{{ url_for('home') }}">
				<input type="submit" name="random" value="Choose Random GIF" id="random">
			</a>
		</p>
	</div>
</body>
</html>